<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">adtlist</a>
      <div class="btn-group pull-right">
      </div> 
      <!-- 
      <ul class="nav nav-pills">
        <li class="dropdown" id="region_list2">
          
          <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Города<b class="caret"></b></a>
          
          <ul class="dropdown-menu">
            <%# Region.all_active.each do |region| %>
            <li><a  href="/search?region=<%#=region.alias %>"><%#=region.name %></a></li>
            <%# end %>
          </ul>
        </li>
      </ul>
      -->
      <ul class="nav">
        <li><a  href="/news">Новости </a></li>
        <li><a  href="/about">О нас </a></li>
         <li><%#= link_to('Выход', destroy_user_session_path, :method => 'delete', :class=>'header_login') %></li>
      </ul><% if user_signed_in? %>
        <% if current_user.role=="admin" %>
      <ul class="nav nav-pills">
        
        <li class="dropdown" id="menu2">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">AdtAdmin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/adtadmin/posts">Объявления</a></li>
            <li><a href="/adtadmin/categories">Категории</a></li>
            <li><a href="/adtadmin/agentprofiles">Агенты</a></li>
            <li><a href="/adtadmin/regions">Города</a></li>
            <li><a href="/adtadmin/images">Картинки</a></li>
            <li><a href="/adtadmin/types">Тип предложения</a></li>
            <li><a href="/adtadmin/accountabilityagents">Закрепление агентов</a></li>
            
            
            <li><a href="/adtadmin/partners">Партнеры</a></li>
            
          </ul>
        </li>
        
      </ul>
      <!---->
      <ul class="nav nav-pills">
        <li class="dropdown" id="menu3">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">Администрирование<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/news_lists">Новости</a></li>
            <li><a href="/stats">Статистика</a></li>
            <li><a href="/reviews">Заявки и отзывы</a></li>
            <li><a href="/usermanage">Пользователь</a></li>
          </ul>
        </li>
      </ul>
      <%end%>
        <% end %>
      <!---->
    </div>
  </div>
</div>
