<div class="row  top_menu" >
	<div class="span12">
		<ul class="nav nav-pills ">
			<li><a class="region_item" href="/">Главная</a></li>
			<li><a class="region_item" href="/estate">Недвижимость </a></li>
			<li><a class="region_item" href="/news">Новости </a></li>
			<li><a class="region_item" href="/about">О нас </a></li>
		</ul>
	</div>


	<div class="span12 page_header">
		<h1>AdtList недвижимость юга</h1>

	</div>
</div>


